@import url("../../.cache/themes/swayosd_colors.css");

window#osd {
  border-radius: 5px;
  border: 2px solid @osd_fg; /* main window border */
  background: @osd_bg_70;
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.8);
}

window#osd image,
window#osd label {
  color: @osd_fg; /* text and icon color */
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  margin-right: 6px;
  min-height: 6px;
  border-radius: 10px;
  background: @osd_fg_20; /* main prgress bar */
  border: none;
}

window#osd trough { /*  prgress bar empty */
  min-height: inherit;
  border-radius: inherit;
  border: transparent;
  background: transparent;
}

window#osd progress { /*  prgress bar filled */
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @osd_fg; /* progress bar fill color */
}