/* Universal styling */
* {
    border: none;
    border-radius: 0;
    font-family: Electroharmonix;
    font-size: 12px;
    min-height: 0;
}

.modules-left {
  margin-left: 9px;
}

.modules-right {
  margin-right: 9px;
}

/* Main Waybar window */
window#waybar {
    background-color: #0A0F26;
    color: #CED7F2;
    padding: 2px 9px;
    transition: background-color 0.3s;
}

/* Hidden state */
window#waybar.hidden {
    opacity: 0.2;
}

/* Workspace buttons */
#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.empty {
  opacity: 0.5;
}


#workspaces button.focused {
    background-color: #444444;
    border-bottom: 2px solid #efefef;
    color: #efefef;
}

#workspaces button.urgent {
    background-color: #d9534f;
    color: #fff;
}

/* General modules styling */
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 0 4px;
    background: transparent;
    color: inherit;
}

/* Critical battery state */
#battery.critical:not(.charging) {
    background-color: #d9534f;
    color: #fff;
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    from { background-color: #d9534f; color: #fff; }
    to   { background-color: #fff; color: #d9534f; }
}
